@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';
@import 'src/assets/styles/themes/gog-bootstrap-theme/variables';

:host {
    position: relative;
}

.cart {
    width: 59px;
    height: 59px;
    border-left: 1px solid var(--bs-gray-400);
    border-right: 1px solid var(--bs-gray-400);

    .cart-icon {
        height: 18px;
    }
}

.cart-item {
    height: 70px;
    border-top: 1px solid var(--bs-gray-400);
    padding: 5px;

    .item-thumbnail {
        width: 100px;
        height: 60px;
        background-size: cover;
        background-position: center center;
    }

    .item-info {
        padding: 5px;
    }

    .item-title {
        font-size: 14px;
        font-weight: 600;
        transition: opacity 0.2s, transform 0.2s;
    }

    .item-price {
        font-weight: 600;
        font-size: 13px;
    }

    .remove-item-link {
        color: var(--bs-body);
        font-size: 12px;
        padding: 4px 0;
        transition: opacity 0.2s, transform 0.2s;
        width: 0;
    }
}

.cart-link {
    text-decoration: none;
    color: var(--bs-body);
}

.cart-panel {
    background-color: var(--bs-white);
    position: fixed;
    left: 0;
    right: 0;
    width: auto;
    bottom: 0;
    top: 59px;
    right: 0;
    z-index: 1050;
    animation: cart-fadein-up 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    border-right: 1px solid var(--bs-gray-400);

    .empty-cart {
        font-weight: 600;
        height: 200px;

        .cart-icon {
            width: 32px;
        }
    }
}

.cart-header {
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
}

.btn-clear {
    margin-left: 8px;
}

@keyframes cart-fadein-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes title-fadein-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@include media-breakpoint-down(sm) {
    .remove-item-link {
        display: block;
    }
}

@include media-breakpoint-up(sm) {
    .remove-item-link {
        display: none;
    }

    .cart-panel {
        width: 370px;
        position: absolute;
        left: auto;
        bottom: auto;
    }

    .cart-item {
        &:hover {
            .remove-item-link {
                display: flex;
                animation: title-fadein-up 0.2s;
            }

            .item-title {
                opacity: 1;
                transform: translateY(-6px);
            }
        }
    }
}