:host {
    position: relative;
}

.cart {
    width: 59px;
    height: 59px;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;

    .cart-icon {
        height: 18px;
    }
}

.cart-item {
    height: 70px;
    border-top: 1px solid #b8b8b8;
    padding: 5px;

    .item-thumbnail {
        width: 100px;
        height: 60px;
        background-size: cover;
        background-position: center center;
    }

    .item-info {
        padding: 5px;
    }

    .item-title {
        font-size: 14px;
        font-weight: 600;
        transition: opacity 0.2s, transform 0.2s;
    }

    .item-price {
        font-weight: 600;
        font-size: 13px;
    }

    &:hover {
        .remove-item-link {
            display: block;
            animation: title-fadein-up 0.2s;
        }

        .item-title {
            opacity: 1;
            transform: translateY(-6px);
        }
    }

    .remove-item-link {
        display: none;
        color: var(--bs-body);
        font-size: 12px;
        padding: 4px 0;
        transition: opacity 0.2s, transform 0.2s;
    }
}

.cart-link {
    text-decoration: none;
    color: var(--bs-body);
}

.cart-panel {
    width: 370px;
    position: absolute;
    right: 0;
    z-index: 1050;
    animation: cart-fadein-up 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    border-right: 1px solid #b8b8b8;

    .empty-cart {
        font-weight: 600;
        height: 200px;

        .cart-icon {
            width: 32px;
        }
    }
}

.cart-header {
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
}

.btn-clear {
    margin-left: 8px;
}

@keyframes cart-fadein-up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes title-fadein-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}