:host {
    position: relative;
}

.cart {
    width: 59px;
    height: 59px;
    border-left: 1px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;

    .cart-icon {
        height: 18px;
    }
}

.cart-item {
    height: 70px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    padding: 5px;

    .item-thumbnail {
        width: 100px;
        height: 60px;
        background-size: cover;
        background-position: center center;
    }

    .item-info {
        padding: 5px;
    }
}

.cart-link {
    text-decoration: none;
    color: var(--bs-body);
}

.cart-panel {
    width: 370px;
    position: absolute;
    right: 0;
    z-index: 1050;
}

.cart-header {
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 8px;
}

.btn-clear {
    margin-left: 8px;
}