<div class="catalog-item-card card placeholder-glow">
    <a class="game-link" href="#">
        <div class="card-header" [class.placeholder]="isLoading()" [style.background-image]="itemThumbailBackground()"
            role="img" [attr.aria-label]="item()?.game?.title || 'Game cover'"
            [attr.title]="item()?.game?.title || 'Game cover'">
        </div>
        <div class="card-body">
            <span class="item-title d-block" [class.placeholder]="isLoading()" tabindex="0"
                [attr.aria-label]="item()?.game?.title">
                {{item()?.game?.title}}
            </span>
        </div>
    </a>
    <div class="card-footer d-flex justify-content-end">
        @if(!item()?.isInCart && !item()?.isInLibrary) {
        @if(item()?.game?.discount && item()!.game!.discount! > 0) {
        <span class="badge badge-sm text-bg-success me-1" aria-label="Discount">
            {{item()?.game?.discount | discount }}
        </span>
        }
        @if(item()?.game?.price) {
        <button class="btn btn-sm btn-outline-dark" type="button" (click)="handleAddToCart(item()!.game!.id)"
            [attr.aria-label]="'Buy ' + (item()?.game?.title || '') + ' for $' + (item()?.game?.price || '')">
            {{item()?.game?.price | currency }}
        </button>
        }
        } @else {
        @if(item()?.isInCart) {
        <span class="badge badge-sm badge-outline-dark fadein-badge" aria-label="In Cart">
            In Cart
        </span>
        }
        @if(item()?.isInLibrary) {
        <span class="badge badge-sm badge-outline-gray" aria-label="On Library">
            Owned
        </span>
        }
        }
    </div>
</div>