<button class="cart-link" (click)="toggleCart($event)" (keydown.enter)="toggleCart($event)" aria-label="Open cart"
    aria-haspopup="dialog" [attr.aria-expanded]="isOpen()" tabindex="0">
    <div class="cart bg-white d-flex flex-wrap align-content-center justify-content-center placeholder-glow"
        [class.placeholder]="isLoading()" role="button" [attr.aria-label]="'Cart with' + cartItems().length + 'items'">
        <img class="cart-icon flash" src="assets/images/icons/cart.svg" alt="Cart icon" />
        <span class="cart-qty" aria-live="polite">{{cartItems().length}}</span>
    </div>
</button>
<div class="cart-panel bg-white flex-column" [class.d-flex]="isOpen()" [class.d-none]="!isOpen()" role="dialog"
    aria-modal="true" aria-label="Shopping cart" tabindex="-1">
    @if(cartItems().length > 0) {
    <div class="cart-header d-flex align-items-center text-dark">
        <span class="flex-grow-1 d-flex">
            <span class="flex-grow-1" id="cart-summary">
                {{cartItems().length | amountPipe:'game':'games'}} in cart
            </span>
            <span class="flex-shrink-1">{{cartTotal() | currency}}</span>
        </span>
        <button class="btn btn-lg btn-primary btn-clear flex-shrink" (click)="handleClearCartClick()"
            aria-label="Clear cart">
            CLEAR CART
        </button>
    </div>
    <ul class="cart-list d-flex flex-column" aria-labelledby="cart-summary">
        @for(item of cartItems(); track item.id) {
        <li class="cart-item d-flex align-items-center">
            @if(item.game.thumbnail) {
            <div class="item-thumbnail">
                <img [ngSrc]="item.game.thumbnail" [alt]="item.game.title + ' cover'"
                    [attr.aria-label]="item.game.title + ' cover'" [attr.title]="item.game.title" fill />
            </div>
            }
            <span class="d-flex item-info flex-column flex-grow-1">
                <div class="d-flex w-100">
                    <span class="item-title flex-grow-1" tabindex="0">
                        {{item.game.title}}
                        <a class="remove-item-link" href="#" (click)="handleRemoveItem($event, item.id)"
                            [attr.aria-label]="'Remove' + item.game.title + 'from cart'" role="button">
                            Remove
                        </a>
                    </span>
                    <span class="item-price flex-shrink-1 align-content-center">
                        {{item.game | finalGamePricePipe | currency}}
                    </span>
                </div>
            </span>
        </li>
        }
    </ul>
    } @else {
    <div class="empty-cart d-flex align-content-center justify-content-center flex-wrap flex-column" aria-live="polite">
        <img class="cart-icon align-self-center mb-2" src="assets/images/icons/cart.svg" alt="Empty cart" />
        <span class="mb-2">Your cart is empty</span>
        <button type="button" class="btn btn-outline-dark ms-auto" aria-label="Back to shopping"
            (click)="isOpen.set(false)">
            Back to shopping
        </button>
    </div>
    }
</div>